body{
    background-color: #456ba5;
    position: relative;
    margin: 5px;
}
img.logo{
    width: 30px;
    margin-right: 10px;
}
section.A1{
    background-color: white;
    display: inline-table;
}
section.menu{
    background-color: white;
    width: auto;
    display: inline-table;
    padding: 1.5px;
}
ul{
    display: flex;
    flex-direction: column;
}

div.page{
    background: radial-gradient(circle, #ffffff, #456ba5);
    width: auto;
    text-align: center;
}

h3.ttl1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 7pt;
    background-color: white;
    font-style: italic;
}
p.ttl1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4pt;
    color: #000000;
    font-weight: bold;
}
p.ttl12{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4pt;
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.534);
}
div.bl2{
    background-color: rgba(255, 255, 255, 0.281);
    padding-bottom: 12px;
}
p.sch{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    color: black;
    font-size: 4px;
}
img.sch{
    width: 50px;
    border-collapse: collapse;
    border-radius: 100%;
    margin-top: 10px;
}
footer{
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4pt;
    background-color: #e1d102;
    background-attachment: scroll;
    padding: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 25px;
}
h5.info{
    font-size: 5pt;
    text-decoration: underline;
    text-decoration-color: #000000;
    font-style: italic;
}
p.info{
    font-weight: bold;
    font-style: italic;
}

/* Style de base pour le bouton du menu */
.dropbtn {
    background-color: white;
    color: #456ba5;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Style pour le contenu du menu déroulant (caché par défaut) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

/* Style pour chaque lien d'onglet */
.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}

/* Changement de couleur lorsque la souris survole un lien */
.dropdown-content a:hover {
    background-color: #456ba5;
    color: white;
}

/* Afficher le contenu du menu lorsqu'il est survolé */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Style pour le menu déroulant lorsqu'il est ouvert */
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}




div.address{
    font-size: 5px;
    text-align: center;
    border-style: dashed;
    border-color: white;
    border-width: 1px;
    border-radius: 30px;
    margin-top: 9px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
   padding-bottom: 3px;
}
a.mail{
    text-decoration: none;
}
div.ann{
    background-color: white;
    padding: 5px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: dotted;
    border-radius: 11px;
    border-width: 1px;
    border-color: #e1d102;


}
p.txt{
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
h4{
    font-size: 9px;
    text-decoration: underline;
    text-decoration-color: #456ba5;
    text-decoration-thickness: 0.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
h5.actu{
    font-size: 5px;
    text-align: start;
}
div.insc{
    border: none;
}
a.inc{
    text-decoration: none;
    color: #e1d102;
    text-align: center;
    font-size: 5px;
    padding: 8px; 
    background-color: #456ba5;
    font-family: Arial, Helvetica, sans-serif;
}
div.direc{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 6px;
    background-color: #ffffff6e;
    padding: 6px;
}
h3.nos{
    font-size: 8px;
    color: #e1d102;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #e1d102;
    text-align: center;
}
ul.liste{
    text-align: center;
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;
    list-style: none;
    font-weight: bolder;
    padding: 0%;
}


#scrollTopButton {
    position: fixed;
    bottom: 2px;
    right: 3px;
    z-index: 1; /* Assure que le bouton est au-dessus du contenu */
    background: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 2px;
    cursor: pointer;
  }
  
  #scrollTopButton:hover {
    background-color: #0057b300;
  }
  img.retour{
    width: 10px;
    opacity: calc(50%);
  }
  
